@model Project.CheckOut.Models.TotalCart

@{
	ViewBag.Title = "Home Page";
}
<div class="jumbotron">
	<div class="container">
		<div class="row bs-wizard" style="border-bottom:0;">
			<div class="container">
				<div class="stepwizard">
					<div class="stepwizard-row setup-panel">
						<div class="stepwizard-step paso">
							<a href="#VerifyEmail-step" type="button" class="btn btn-primary btn-circle" id="VerifyEmail-step-1">
								<span class="fa fa-cart-arrow-down"></span>
							</a>
							<p>Verificar productos</p>
						</div>
						<div class="stepwizard-step paso">
							<a href="#ProfileSetup-step" type="button" class="btn btn-success-2 btn-circle" disabled="disabled" display="block" id="ProfileSetup-step-2">
								<span class="fa fa-credit-card"></span>
							</a>
							<p>Métodos de Pago</p>
						</div>
					</div>
				</div>
				@if (Model.Cart == null)
				{
					<div class="row setup-content" id="VerifyEmail-step">
						<div class="col-xs-12">
							<div class="col-md-12">
								<br />
								<div class="form-horizontal">
									@*<form role="form">*@
									<fieldset>
										<div class="container mb-4">
											<div class="row">
												<div class="col-12">
													<div class="table-responsive">
														<table class="table table-condensed table-striped">
															<thead>
																<tr>
																	<th scope="col" class="text-center" style="width: 15em;"></th>
																	<th scope="col" class="text-center" style="width: 40em;">Producto</th>
																	<th scope="col" class="text-center" style="width: 15em;">Habilitado</th>
																	<th scope="col" class="text-center" style="width: 5em;">Cantidad</th>
																	<th scope="col" class="text-center" style="width: 25em;">Precio</th>
																	@*<th class="text-center" style="width: 12em;"> </th>*@
																</tr>
															</thead>
															<tbody>
																	<tr>
																		<td colspan="5" class="text-center">
																			El carrito está vacío.
																		</td>
																	</tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>
										</div>
									</fieldset>
									@*</form>*@
								</div>
								<div class="col-md-12">
									<div class="col-md-12 text-right">
										<button class="btn btn-primary nextBtn btn-lg pull-right" type="button" disabled>Siguiente</button>
									</div>
									<div class="col-md-6 text-left">
										<a href="~/Store/Index" class="btn btn-block btn-light">Continuar Comprando</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row setup-content" id="ProfileSetup-step" disabled>
					</div>
				}
				else
				{
				<form action="~/SaleOrder/Create" method="post">
					<div class="row setup-content" id="VerifyEmail-step">
						<div class="col-xs-12">
							<div class="col-md-12">
								<br />
								<div class="form-horizontal">
									@*<form role="form">*@
									<fieldset>
										<div class="container mb-4">
											<div class="row">
												<div class="col-12">
													<div class="table-responsive">
														<table class="table table-condensed table-striped">
															<thead>
																<tr>
																	<th scope="col" class="text-center" style="width: 15em;">Image</th>
																	<th scope="col" class="text-center" style="width: 40em;">Producto</th>
																	<th scope="col" class="text-center" style="width: 15em;">Habilitado</th>
																	<th scope="col" class="text-center" style="width: 5em;">Cantidad</th>
																	<th scope="col" class="text-center" style="width: 25em;">Precio</th>
																	@*<th class="text-center" style="width: 12em;"> </th>*@
																</tr>
															</thead>
															<tbody>
																@for (int i = 0; i < Model.Cart.Count(); i++)
																{
																	<tr>
																		@Html.HiddenFor(model => model.Cart[i].Image)
																		@Html.HiddenFor(model => model.Cart[i].ProductId)
																		@Html.HiddenFor(model => model.Cart[i].ProductName)
																		@Html.HiddenFor(model => model.Cart[i].IsAvailable)
																		@Html.HiddenFor(model => model.Cart[i].Price)
																		@Html.HiddenFor(model => model.TotalAmount)
																		<td>
																			<div class="col-lg-12 col-md-1 mb-0">
																				<div class="card h-100">
																					<a href="#"><img class="card-img-top" src="@Model.Cart[i].Image" alt=""></a>
																				</div>
																			</div>
																		</td>
																		<td class="text-center">@Model.Cart[i].ProductName</td>

																		@if (!Model.Cart[i].IsAvailable)
																		{
																			<td class="text-center">  Sin stock </td>
																		}
																		else
																		{
																			<td class="text-center">  Con stock </td>
																		}
																		<td class="text-center">
																			@Html.ValueFor(model => model.Cart[i].Quantity)
																		</td>
																		<td class="text-center">S/ @Html.ValueFor(model => model.Cart[i].Price)</td>
																		@*<td class="text-right"><button class="btn btn-sm btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button> </td>*@
																	</tr>
																}
																<tr>
																	<td></td>
																	<td></td>
																	<td></td>
																	<td class="text-center"><strong>Total</strong></td>
																	<td class="text-center"><strong>S/ @Model.TotalAmount</strong></td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>
										</div>
									</fieldset>
									@*</form>*@
								</div>
								<div class="col-md-12">
									<div class="col-md-12 text-right">
										<button class="btn btn-primary nextBtn btn-lg pull-right" type="button">Siguiente</button>
									</div>
									<div class="col-md-6 text-left">
										<a href="~/Store/Index" class="btn btn-block btn-light">Continuar Comprando</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row setup-content" id="ProfileSetup-step">
						<div class="col-xs-12">
							<div class="col-md-12">
								<br />
								<div class="form-horizontal">
									<fieldset>
										<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

										<div class="container">
											<!-- col.// -->
											<aside class="col-sm-3"></aside>
											<aside class="col-sm-6">
												<article class="payments">
													<div class="card-body p-5">
														<ul class="nav bg-light nav-pills rounded nav-fill mb-3" role="tablist">
															<li class="nav-item active">
																<a class="nav-link active" data-toggle="pill" href="#nav-tab-card">
																	<i class="fa fa-credit-card"></i> Tarjeta de Crédito
																</a>
															</li>
														</ul>
														<div class="tab-content">
															<div class="tab-pane fade show active in" id="nav-tab-card">
																@*<p class="alert alert-success">Texto exitoso o de error</p>*@
																<div class="legend form-group">
																	<label for="username">Nombre Completo</label>
																	@Html.TextBoxFor(model => model.PaymentData.TitularName, new { @class = "form-control", @placeholder = "Nombre", @required = "" })
																</div> <!-- form-group.// -->

																<div class="form-group">
																	<label for="cardNumber">Número de Tarjeta</label>
																	<div class="input-group">
																		@Html.TextBoxFor(model => model.PaymentData.CardNumber, new { @class = "form-control", @placeholder = "4567 1234 5656 8989", @required = "", @maxlength = "16" })
																		@*<input type="text" class="form-control" name="cardNumber" placeholder="4567 1234 5656 8989" maxlength="16" min="16">*@
																		<div class="input-group-append">
																			<span class="input-group-text text-muted">
																				<i class="fab fa-cc-mastercard"></i> <i class="fab fa-cc-visa"></i> <i class="fab fa-cc-amex"></i>
																			</span>
																		</div>
																	</div>
																</div> <!-- form-group.// -->

																<div class="row">
																	<div class="col-sm-8">
																		<div class="form-group">
																			<label><span class="hidden-xs">Expiración</span> </label>
																			<div class="input-group">
																				@Html.TextBoxFor(model => model.PaymentData.Month, new { @class = "form-control", @placeholder = "MM", @type = "number", @required = "", @maxlength = "2" })
																				@Html.TextBoxFor(model => model.PaymentData.Year, new { @class = "form-control", @placeholder = "YY", @type = "number", @required = "", @maxlength = "2" })
																			</div>
																		</div>
																	</div>
																	<div class="col-sm-4">
																		<div class="form-group">
																			<label data-toggle="tooltip" title="" data-original-title="3 digits code on back side of the card">CVV <i class="fa fa-question-circle"></i></label>
																			@Html.TextBoxFor(model => model.PaymentData.CVV, new { @class = "form-control", @placeholder = "cvv", @type = "number", @required = "", @maxlength = "2" })
																		</div> <!-- form-group.// -->
																	</div>
																</div> <!-- row.// -->
																@*<button class="subscribe btn btn-primary btn-block" type="button"> Confirmar  </button>*@
															</div> <!-- tab-pane.// -->
														</div> <!-- tab-content .// -->
													</div> <!-- card-body.// -->
												</article> <!-- card.// -->

											</aside> <!-- col.// -->
										</div> <!-- row.// -->
										<!--container end.//-->
									</fieldset>
									<div class="form-horizontal">
										<div class="form-group">
											<div class="col-md-12">
												@*<input type="number" name="ProductID" value="1" hidden />
										<input type="number" name="Quantity" value="3" hidden />
										<input type="text" name="Precio" value="228.80" hidden />*@
												<input type="submit" value="Comprar" class="btn btn-primary nextBtn btn-lg pull-right" />
											</div>
										</div>
									</div>
									@*</form>*@
								</div>
							</div>
						</div>
					</div>
				</form>
				}
			</div>
		</div>
	</div>
</div>
<div class="row">

</div>
